<template lang="html">
    <div class="traffic">
        <div class="tools">
            <label>Cycle duration</label><br>
            <input type="number" v-model="cycleDuration">

            <button @click="run()" class="primary" :disabled="isRunning">Run</button>
            <button @click="stop()" class="danger" :disabled="!isRunning">Stop</button>

            <div style="margin-top:10px;">
                <strong>Cycle duration:</strong> {{ cycleDuration }}s <br>
                <strong>Transition Time:</strong> {{ transitionDuration }}s <br>
                <strong>Test Period:</strong> {{ testPeriod }}s <br>
            </div>
        </div>


        <h4>Timer: {{ totalDuration }}s
            <br>
            Status:
            <span v-show="isRunning">Running</span>
            <span v-show="!isRunning">Stopped</span>
        </h4>

        <div class="lights" v-for="l in lights">
            <div class="name">
                {{ l.name }}
            </div>
            <span
                v-for="c in l.colours"
                :class="[{ 'light': true, 'off': c.status == 0 }, c.name]">
            </span>
        </div>


        <div style="margin-top:20px">
            <strong>Note:</strong> The exercise requires the cycle to be 300 seconds long
            and the transition period to be 30 seconds. Therefore, the transition has
            been set to 1/10 of the cycle duration.<br>
            The test period is supposed to be 30 minutes, covering 6 cycles overall.<br />

            <br>
            Considering the above, the same ratio has been kept to allow variable cycle durations
            according to user's input.<br>

            <br>Transition time  = <strong>Roundup(Cycle duration / 10)</strong>
            <br>Test period = <strong>Cycle duration x 6</strong>
        </div>

        <div class="output">
            <div class="text">
                <h4>OUTPUT</h4>
                <p v-for="l in lines">{{ l }}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'lights',

    data () {
        return {
            lights: [],
            cycleCount: 1,
            cycleDuration: 10,
            transitionDuration: 1,
            totalDuration: 0,
            testPeriod:60,
            interval: null,
            lines: [],
            isRunning: false
        }
    },

    methods: {
        buildLights () {
            this.lights = [
                {
                    name: 'N, S',
                    status: 1,
                    colours: [
                        {name: 'green', status: 1},
                        {name: 'yellow', status: 0},
                        {name: 'red', status: 0}
                    ]
                },

                {
                    name: 'E, W',
                    status: 0,
                    colours: [
                        {name: 'green', status: 0},
                        {name: 'yellow', status: 0},
                        {name: 'red', status: 1}
                    ]
                }
            ]
        },

        startTransition () {
            this.lights.forEach(l => {
                if (l.status) {
                    l.colours[0].status = 0
                    l.colours[1].status = 1
                    this.lines.push(l.name + ' switched to yellow at ' + this.totalDuration)
                }
            })
        },

        finishTransition () {
            this.lights.forEach(l => {
                if (l.status) {
                    l.colours[1].status = 0
                    l.colours[2].status = 1
                    l.status = 0
                    this.lines.push(l.name + ' switched to red at ' + this.totalDuration)
                } else {
                    l.status = 1
                    l.colours[0].status = 1
                    l.colours[2].status = 0
                    this.lines.push(l.name + ' switched to green at ' + this.totalDuration)
                }
            })
        },

        checkDuration () {
            if ((this.cycleDuration * this.cycleCount - this.totalDuration) === this.transitionDuration) {
                this.startTransition()
            }

            if (this.totalDuration === (this.cycleDuration * this.cycleCount)) {
                this.finishTransition ()
                this.cycleCount ++
            }

            if (this.totalDuration === this.testPeriod) {
                this.stop()
            }
        },

        run () {
            this.isRunning = true
            this.lines = []
            this.totalDuration = 0
            this.lines.push(this.lights[0].name + ' is green at ' + this.totalDuration)
            this.lines.push(this.lights[1].name + ' is red at ' + this.totalDuration)

            this.interval = setInterval(() => {
                this.totalDuration ++
                this.checkDuration()
            }, 1000)
        },

        stop () {
            this.isRunning = false
            if (this.interval) {
                clearInterval(this.interval)
            }
        }
    },

    watch: {
        cycleDuration: function (val) {
            this.transitionDuration = Math.ceil(val/10)
            this.testPeriod = val * 6
        }
    },

    mounted () {
        this.buildLights()
    },

    destroyed () {
        this.stop()
    }
}
</script>

<style lang="scss">
.traffic {
    width: 600px;
    margin: 10px auto;
    font-family: Avenir, Calibri, sans-serif;
    font-size: 16px;
}

.lights {
    margin-bottom: 5px;
    width: 100%;
    height: 40px;
    background-color: #f3f4f5;
    padding: 10px;
    vertical-align: middle;
}

.name {
    float: left;
    margin-right: 10px;
    line-height: 40px;
}

.light {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: white;
    float: left;
    margin-right: 10px;

    &.green {
        background-color: green;
    }
    &.yellow {
        background-color: orange;
    }
    &.red {
        background-color: red;
    }
    &.off {
        background-color: white;
    }
}

.tools {
    margin-bottom: 20px;
}

button {
    padding: 12px 17px;
    border-radius: 3px;
    border:0;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 90px;

    &:focus {
        outline: none;
    }
    &.primary {
        background-color: #08c;
    }
    &.danger {
        background-color: #f00;
    }
    &disabled {
        cursor: not-allowed;
    }
}

input {
    width: 120px;
    padding: 12px;
    border: 0;
    background-color: #e7e8e9;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;

    &:focus {
        outline: none;
    }
}

.output {
    width: 100%;
    margin-top:20px;

    .text {
        background-color: #333;
        width: 100%;
        min-height: 50px;
        padding: 5px 20px;
        border-radius: 2px;
        color: #ccc;

        p {
            line-height: 16px;
            font-size: 15px;
        }
    }
}
</style>
