<template>
    <div id="app">
        <Lights/>
    </div>
</template>

<script>
import Lights from './components/Lights'

export default {
    name: 'app',
    components: {
        Lights
    }
}
</script>

<style>
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
    font-weight: 500;
    text-align: left;
}
</style>
